<?xml version="1.0" encoding="utf-8" ?>
<Resto.Common.Properties.Settings>
  <setting name="IIKO_APPDATA_SUBPATH" serializeAs="String">
    <value>iiko</value>
  </setting>
  <setting name="RMS_EDITION_SUBPATH" serializeAs="String">
    <value>Rms</value>
  </setting>
  <setting name="CHAIN_EDITION_SUBPATH" serializeAs="String">
    <value>Chain</value>
  </setting>
  <setting name="BACK_LOG_FILENAME" serializeAs="String">
    <value>back-log.log</value>
  </setting>
  <setting name="MAX_DECIMAL_VALUE" serializeAs="String">
    <value>999999999.999999999</value>
  </setting>
  <setting name="HELP_URI" serializeAs="String">
    <value>https://{language}.iiko.help/articles/#!iiko{product}-{version:-}/{topic}</value>
  </setting>
  <setting name="SERVICE_METHOD_TIMEOUT_MILLISECONDS" serializeAs="String">
    <value>259200000</value>
  </setting>
  <setting name="GETTING_SERVER_INFO_TIMEOUT_MILLISECONDS" serializeAs="String">
    <value>10000</value>
  </setting>
  <setting name="SERVER_INFO_PAGE_ADDRESS" serializeAs="String">
    <value>{0}://{1}:{2}{3}/get_server_info.jsp?encoding=UTF-8</value>
  </setting>
  <setting name="PluginsDirectoryRelativePath" serializeAs="String">
    <value>Plugins</value>
  </setting>
  <setting name="IgnoreCleverenceDriverDriverExceptions" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="LogFileAgeDays" serializeAs="String">
    <value>90</value>
  </setting>
</Resto.Common.Properties.Settings>