<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--При использовании Resto.Common.Plastek.PlastekService, являющегося оберткой над SOAP-вызовами методов сервиса Плас-Тек,
нужно в соотв. место конфига использующего приложения вставить следующие binding и endpoint-->
  
<binding name="GiftCardServiceSoap12"
               closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
  <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
    messageVersion="Soap12" writeEncoding="utf-8">
    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
  </textMessageEncoding>
  <!--Используйте строку ниже вместо httpsTransport, если требуется подключиться к WEB сервису Плас-Тек по незащищенному каналу-->
  <!--<httpTransport authenticationScheme="Anonymous" />-->
  <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
    maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
    keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
    realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
    useDefaultWebProxy="true" requireClientCertificate="false" />
</binding>

<endpoint address=""
          binding="customBinding" bindingConfiguration="GiftCardServiceSoap12"
          contract="GiftCardServiceSoap" name="GiftCardServiceSoap12" />

</configuration>